<p>Здравствуйте!</p>

<p>Вы получили это письмо, потому что запросили восстановление пароля для вашей учетной записи.</p>

<p>Пожалуйста, перейдите по следующей ссылке для восстановления пароля:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>

<p>Ссылка действительна в течение 24 часов.</p>

<p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.</p>

<p>С уважением,<br>
Администрация системы управления активами</p>
